<root>
    <page-title>Demo Page</page-title>
	<menu-item>
		<menu-title>File</menu-title>		
		<sub-menu>
		
			<sub-menu-item>
				<title>New</title>
				<onclick>alert("File>New");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Open</title>
				<onclick>alert("File>Open");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Save</title>
				<onclick>alert("File>Save");</onclick>
				<onhover></onhover>				
			</sub-menu-item>
			
		</sub-menu>
		
		<menu-onclick>alert("NEW");</menu-onclick>		
	</menu-item>
	
	<menu-item>
		<menu-title>Edit</menu-title>		
		<sub-menu>
		
			<sub-menu-item>
				<title>Copy</title>
				<onclick>alert("Edit>New");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Cut</title>
				<onclick>alert("Edit>Cut");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Paste</title>
				<onclick>alert("Edit>Paste");</onclick>
				<onhover></onhover>				
			</sub-menu-item>
			
		</sub-menu>
		
		<menu-onclick>alert("NEW");</menu-onclick>		
	</menu-item>
	
	<menu-item>
		<menu-title>Project</menu-title>		
		<sub-menu>
		
			<sub-menu-item>
				<title>New Project</title>
				<onclick>alert("Project>New");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Open Project</title>
				<onclick>alert("Project>Open");</onclick>
				<onhover></onhover>
			</sub-menu-item>
			
			<sub-menu-item>
				<title>Save Project</title>
				<onclick>alert("Project>Save");</onclick>
				<onhover></onhover>				
			</sub-menu-item>
			
		</sub-menu>
		
		<menu-onclick>alert("NEW");</menu-onclick>		
	</menu-item>

    <tab-item>
        <tab-title>tab1</tab-title>
        <tab-link>info/1.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab2</tab-title>
        <tab-link>info/2.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab3</tab-title>
        <tab-link>info/3.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab4</tab-title>
        <tab-link>info/4.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab5</tab-title>
        <tab-link>info/5.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab6</tab-title>
        <tab-link>info/6.html</tab-link>
    </tab-item>

    <tab-item>
        <tab-title>tab7</tab-title>
        <tab-link>info/7.html</tab-link>
    </tab-item>
	
</root>