<root>
    <menu>

    </menu>
    <tabs>
        <item>
            <name>tab1</name>
            <ref>tab1.html</ref>
        </item>
        <item>
            <name>tab2</name>
            <ref>tab2.html</ref>
        </item>
        <item>
            <name>tab3</name>
            <ref>tab3.html</ref>
        </item>
        <item>
            <name>tab4</name>
            <ref>tab4.html</ref>
        </item>
        <item>
            <name>tab5</name>
            <ref>tab5.html</ref>
        </item>
        <item>
            <name>tab6</name>
            <ref>tab6.html</ref>
        </item>
        <item>
            <name>tab7</name>
            <ref>tab7.html</ref>
        </item>
        <item>
            <name>tab8</name>
            <ref>tab8.html</ref>
        </item>

    </tabs>
</root>